@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(194, 193, 193, 0.842);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


header h1 {
    text-shadow: 2px 2px 0px rgba(37, 37, 37, 0.37);
    flex: 0 0 200px;
}
header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header  a{
    text-decoration: none;
    background-color: #000000d3;
    color: white;
    margin: 3px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

header a:hover{
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
    padding: 10px;
    margin: 10px;
}